@import "tailwindcss";

@theme {
  /* --color-primary-teal: #223635;  */
  --color-primary-teal: #2c4143; 
  --color-primary-gray: #8d968c;
  
  --color-border-cream: #efecd6;


  --color-cream: #efecd6;
  --color-light-cream: #fdfcf9;
  --color-cream-50: #fff;

  --color-light-green : #677071;
}